<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>您好，请选择您要操作的项目</h1>
   <form action="/newfile" method="post" >
       <tr  th:each="i,iterStat : ${xms}">
       <br/><br/>
       <span th:text="${i.path}" />: <input th:value="${i.path}"  type="radio" name="xm"/>
       </tr>
       <br/><br/>
       您要上传文件名： <input type="text" name="path"/>
       <br/><br/>
       您要上传的文件内容：
       <textarea name="content" cols="100" rows="10">
         </textarea>
       <br/><br/>
       提示消息：
       <textarea name="message" cols="100" rows="10">
         </textarea>
       <br/><br/>
       确认： <input type="submit"/>
   </form>
</body>
</html>